.card
    .card-content
        .card-title
            | Add transaction
        .row
            form.col.s12.clearfix
                //.input-field.col.s6
                    input.col.form-control#txnId(type='text', name="txnId", [(ngModel)] = 'transactionDetails.id')
                    label(for='txnId') Transaction id
                .input-field.col.s6
                    input.col.form-control#amount(type='text', name="amount", [(ngModel)] = 'transactionDetails.amount')
                    label(for='amount') Amount
                .input-field.col.s6
                    input.col.form-control.datepicker#dateTxn(type='text', name="txnId", [(ngModel)] = 'transactionDetails.txn_date')
                    label(for='dateTxn') Date of Transaction
                .col.s6
                    md-select#currencies(name='currency', [(ngModel)]='transactionDetails.currency')
                        md-option.float-right(*ngFor='let currency of currencies', [value]='currency.name') {{currency.name}}
                .center.clearfix
                    button.btn.teal(name="addTransaction", (click)="addTransaction(transactionDetails)" ) Save